behave==1.2.6
behave2cucumber==1.0.3
cycler==0.10.0
junit2html==22
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
opencv-python==3.4.4.19
parse==1.9.0
parse-type==0.4.2
Pillow==8.2.0
pkg-resources==0.0.0
PyAutoGUI==0.9.38
PyMsgBox==1.0.6
pyparsing==2.3.0
PyScreeze==0.1.18
python-dateutil==2.7.5
python-nmap==0.6.1
PyTweening==1.0.3
selenium==3.14.1
six==1.11.0
urllib3==1.23
xlib==0.21
